:root {
  --fuente-principal: 'Lato', sans-serif;
  --primario: #da595e;
  --obscuro: #484848;
  --claro: #fff;
  --hospedaje: #275154;
  --concierto: #da595e;
  --clase: #598dda;
  --paseo: #940ad4;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--fuente-principal);
}

h1 {
  font-size: 2.6rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

/* colores */
.hospedaje {
  color: var(--hospedaje);
}

.concierto {
  color: var(--concierto);
}

.clase {
  color: var(--clase);
}

.paseo {
  color: var(--paseo);
}

/* interfaz */
.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

.hero {
  height: 100vh;
  background-image: url(../img/arriba.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 1fr 2fr;
  transition: all .2s ease;
}

.header {
  align-self: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
}

.header .logo img {
  max-height: 4rem;
}

.navegacion a {
  color: var(--claro);
  text-decoration: none;
  margin-right: 1rem;
}

.navegacion a:last-of-type {
  margin-right: 0;
}

.contenido-hero {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: max-content auto;
}

.contenido-hero h1 {
  grid-column: 2 / 3;
  color: var(--claro);
}

.contenido-hero form {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  position: relative;
  display: flex;
  height: 4rem;
}

form input[type="text"] {
  flex: 1;
  border: none;
  border-radius: 10px;
  background-image: url(../img/lupa.png);
  background-repeat: no-repeat;
  background-position: calc(1% + 1rem) calc(1% + .8rem);
  background-position: calc(1% + 1rem) center;
  padding-left: 5rem;
  font-size: 1.6rem;
}

form input[type="submit"] {
  position: absolute;
  right: 1rem;
  top: .6rem;
  padding: .7rem 2rem;
  border: none;
  background-color: var(--primario);
  color: var(--claro);
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

form input[type="submit"]:hover {
  cursor: pointer;
}

.boton {
  background-color: var(--claro);
  display: block;
  padding: 1rem;
  color: var(--obscuro);
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 13px 19px -10px rgba(0, 0, 0, .52);
  transition: all .5s ease-in-out;
}

.boton:hover {
  background-color: var(--primario);
  color: var(--claro);
}

.btn-flotante {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--claro);
  color: var(--obscuro);
  padding: .5rem 2rem;
  text-decoration: none;
  box-shadow: 0 13px 19px -10px rgba(0, 0, 0, .52);
  transition: all .5s ease-in-out;
}

.btn-flotante .activo,
.btn-flotante:hover
 {
  background-color: var(--primario);
  color: var(--claro);
}

.contenedor-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
}

.card img {
  width: 100%;
}

.info .categoria {
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
}

.info .titulo {
  font-size: 1.6rem;
  font-weight: 900;
  margin: 0;
}

.info .precio {
  color: var(--obscuro);
  font-size: .9rem;
}

/* premium */
.premium {
  background-image: url(../img/hospedaje-pro.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  grid-template-columns: unset;
  height: 30rem;
}

.premium .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.premium .info h3 {
  text-align: center;
  font-size: 2.2rem;
  color: var(--obscuro);
}

@media screen and (min-width: 768px) {
  .premium {
    grid-template-columns: auto 30%;
  }

  .premium .info {
    grid-column: 2 / 3;
  }

  .premium .info h3 {
    text-align: right;
  }
}

/* destinos populares */
.destinos .contenedor-cards {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.destinos .card {
  position: relative;
}

.destinos .info {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.destinos .info .titulo {
  font-size: 1.8rem;
  color: var(--claro);
}

/* footer */
.footer {
  position: fixed;
  bottom: -100%;
  background-color: var(--claro);
  width: 100%;
  box-shadow: 0 -13px 24px -10px rgba(0, 0, 0, .32);
  transition: all .5s ease-in-out;
  padding: 4rem 0;
}

.footer.activo {
  bottom: 0;
}

.footer .contenedor {
  padding: 1rem;
}

.nav-footer h3 {
  font-size: 1.2rem;
}

.nav-footer a {
  display: block;
  margin-bottom: .5rem;
  text-decoration: none;
  color: var(--obscuro);
}

.nav-footer a:last-of-type {
  margin-bottom: 0;
}

/** Redes Socialaes**/
.sociales ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-start;
  flex:1 0 auto;
  list-style: none;
}

.sociales ul li {
  margin-right: 1rem;
}

.sociales ul li:last-of-type {
  margin-right: 0;
}

.sociales ul li a {
  text-decoration: none;
}

.sociales ul li a:before {
  font-family: "Font Awesome 5 Brands";
  color: var(--obscuro);
  font-size: 1.8rem;
}

.sociales ul li a[href*='facebook.com']::before {
  content: "\f39e";
}

.sociales ul li a[href*='twitter.com']::before {
  content: "\f099";
}
.sociales ul li a[href*='youtube.com']::before {
  content: "\f431";
}
.sociales ul li a[href*='instagram.com']::before {
  content: "\f16d";
}
.sociales ul li a[href*='pinterest.com']::before {
  content: "\f231 ";
}
.sociales ul li span{
  display: none;
}