// fuentes
$fuentePrincipal: Arial, Helvetica, sans-serif;
// media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
// colores
$primario: #e50914;
$secundario: #e87c03;
$gris: #323232;
$gris2: #8c8c8c;
$gris3: #454545;
$blanco: #fff;
$negro: #000;
// box
$radius: 5px;